.header .menu-wrapper {
  background: #fff !important;
  padding:20px;
}

.header.transparent .dropdown-menu li a, .header.transparent .right-menu a, .header.transparent .navbar > li > a {
  color:#282828;
}
@-webkit-viewport { width: device-width; zoom: 1.0; }
@-moz-viewport { width: device-width; zoom: 1.0; }
@-ms-viewport { width: device-width; zoom: 1.0; }
@-o-viewport { width: device-width; zoom: 1.0; }
@viewport { width: device-width; zoom: 1.0; }

html { overflow-y: auto; }

img, audio, video, canvas {
  max-width: 100%;
  height: auto;
}

.full-image-section .background-image {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
}

#about{
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.header .menu-wrapper.affix {
width:100%;
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
top:0;
background:rgba(255,255,255,0.8) !important ;
right:0;
padding: 12px 30px;
margin-top:0;
margin:0 !important;
position: fixed;
z-index: 9999;
-webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
transition: all 0.8s;
}

#page_header p {
margin-top:50px;
font-size:34px;
color:#fff;
font-weight:700;
}

#page_header {
padding:35rem 0 25rem;
}

#page_header:before {
content:'';
position:absolute;
bottom:-26px;
left:0;
width:100%;
height:20px;
opacity:.6;
filter:alpha(opacity=60);
}

#page_header .container {
z-index:1;
position:relative;
}

#page_header:after {
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.custom-parallax-wrapper h3,
#page_header h2 {
color:#fff;
font-family: Athelas;
font-size:60px;
font-style: italic;
}

.header{
  color: rgba(3,172,220,1);
  background-image: url("images/portada.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header h1{
  color: white;
  font-size: 4em;
  letter-spacing: 8px;
  margin: 0px 0px 10px 0px;
}
.header p{
  font-size: 2.3em;
}
#header-one{
  height: 80px;
}
.navbar-header h3{
    color: rgba(3,172,220,1);
}

#products .row-fluid div{
  align-items: center;
  min-height: 420px;
}

#products .row-fluid h3{
  font-size: 1.5em;
  margin-top: 15px;
}

#products .row-fluid p{
  font-size: 1.2em;
  margin-top: 20px;
}
.widget-products{
  height: 375px;
}

.section-us p{
  text-align: justify;
} 

.nav a:hover{
  border-bottom: 2px solid  rgba(3,172,220,1);
}

.nav a:focus{
  border-bottom: 2px solid rgba(3,172,220,1);
}

@media screen and (max-width: 1014px) {
  .boxed .widget {
    padding:0px 5px;
  }
}

@media screen and (max-width: 768px) {

  .widget-products{
    height: 300px;
  }

  .header.transparent {
      padding: 0 !important;
      background: #fff !important;
  }
  .header .menu-wrapper {
      padding:20px 3px;
  }
.header.transparent .navbar-toggle {
      color:#282828 !important;
  }

  .header{
    color: rgba(3,172,220,1);
    background-image: url("images/header1.jpg");
    background-size: cover;
    height: 30vh;
    padding: 0px 25px;

  }
  .header h1{
    font-size: 2em;
  }
  .header p{
    font-size: 1.2em;
  }
}
